# Виртуальное окружение Python
venv/
__pycache__/
*.py[cod]
*$py.class

# База данных SQLite
*.db
*.sqlite3

# Файлы окружения
.env

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log

# Временные файлы
*.tmp

# Загруженные файлы
get-pip.py

# IDE файлы
.idea/
.vscode/ 